{% extends "base.html" %}

{% block content %}

<h1>Philadelphia Homeless Shelter Finder</h1>

<div id="controls">

<label>

Search Radius

<input
type="range"
id="radius"
min="1"
max="20"
value="5">

<span id="radiusValue">

5

</span>

miles

</label>

<div id="legend">

    <label>
        <input type="checkbox" class="category-filter" value="Food Bank" checked>
        <span class="dot green"></span>
        Food Banks
    </label>

    <label>
        <input type="checkbox" class="category-filter" value="Soup Kitchen" checked>
        <span class="dot orange"></span>
        Soup Kitchens
    </label>

    <label>
        <input type="checkbox" class="category-filter" value="Shelter" checked>
        <span class="dot blue"></span>
        Shelters
    </label>

    <label>
        <input type="checkbox" class="category-filter" value="Other" checked>
        <span class="dot gray"></span>
        Other
    </label>

</div>

</div>

<div id="map"></div>

{% endblock %}