{% extends "base.html" %}

{% block content %}

<h1>Philadelphia Homeless Shelter Finder</h1>

<div id="controls">

<label>

Search Radius

<input
type="range"
id="radius"
min="1"
max="20"
value="5">

<span id="radiusValue">

5

</span>

miles

</label>

<div id="legend">

    <span class="legend-item">
        <span class="dot green"></span>
        Food Bank
    </span>

    <span class="legend-item">
        <span class="dot orange"></span>
        Soup Kitchen
    </span>

    <span class="legend-item">
        <span class="dot blue"></span>
        Shelter
    </span>

    <span class="legend-item">
        <span class="dot gray"></span>
        Other
    </span>

</div>

</div>

<div id="map"></div>

{% endblock %}